#error-list {
  margin: 25px 0;
}

.login-error {
  color: darkred;
  font-size: 16px;
}

.login-error::before {
  content: "&#   ";
}

.login {
  width: 100px;
  height: 40px;
  background-color: #F0F0E9;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.login:hover {
  background-color: rgb(100, 100, 98);
  border-color: rgb(100, 100, 98);
  color: #F0F0E9;
}

.captcha {
  margin-top: 20px;
}