* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(236, 234, 234);
  font-family: 'Open Sans';
}

header, 
main,
footer {
  width: 1200px;
  margin: 10px auto;
}

article {
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}

#logo img {
  width: 100%;
  border-radius: 10px;
}

#logo a {
  display: block;
  padding: 0px;
}


/*new nav*/
nav {
  display: table;
  margin: 20px auto;
}
ul {
  list-style: none;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}

.topmenu li a:hover {
  color: #D5B45B;
}

.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
}
.submenu li {
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding: 5px 0;
}
.submenu li:last-child a {
  border-bottom: none; 
}
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
/*new nav*/


main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-column-gap: 10px;
}

main #container {
  grid-column: 1;
}

main aside {
  grid-column: 2;
}

/* SLIDER */

#slider {
  margin: 0 auto;
  max-width: 770px;
  height: auto;
  max-height: 550px;
  position: relative;
  background-color: rgb(236, 234, 234);
}

#slider .cycle-slideshow {
  height: auto;
}

#slider img {
  max-height: 100%;
}

#slider:hover #next,
#slider:hover #prev {
  visibility: visible;
}

#slider #next,
#slider #prev {
  color: black;
  visibility: hidden;
  padding: 5px 17px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  font-size: 30px;
  display: inline-block;
}

#slider #next:hover,
#slider #prev:hover {
  background-color: #D5B45B;
}

#slider #next {
  right: 30px;
}

#slider #prev {
  left: 30px;
}



#news {
  width: 100%;
  margin: 10px auto;
}

footer {
  padding: 20px 0;
  border-radius: 10px;
}

footer>div:first-child {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

footer p:nth-child(2) {
  text-align: right;
}

footer div:last-child {
  display: flex;
  justify-content: center;
}

footer div:last-child a {
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 5px 10px;
  background-color: lightsteelblue;
  color: #404040;
  transition: 1s color;
  transition: 1s border;
  transition: 0.5s background;
}

footer div:last-child a:hover {
  background-color: transparent;
  color: #D5B45B;
  border-color: transparent;
}

.hidden {
  display: none;
  visibility: hidden;
  height: 0;
}



a {
  text-decoration: none;
  color: black;
}

section {
  overflow: hidden;
  margin-bottom: 10px;
}

section h3 {
  font-size: 24px;
  font-weight: 900;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #273037;
  background-color: #485966;
  color: white;
}

section p {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.link {
  text-decoration: none;
  color: #273037;
  display: block;
  padding: 5px;
  transition: 0.5s border;
  transition: 0.2s color;
}

.link:hover {
  color: #D5B45B;
  border-left: 1px solid #D5B45B;
  border-right: 1px solid #D5B45B;
}

.content {
  padding: 10px;
}

section>.image {
  margin: 10px 0;
  text-align: center;
}

section>.image>img {
  width: 70%;
}

.news_item {
  padding: 15px;
}

.news_item::after {
  display: table;
  content: "";
  clear: both;
}

.news_item img {
  width: 200px;
  float: left;
  margin: 0 10px 10px 0;
}

.news_item a {
  font-size: 18px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #273037;
  border-radius: 15px;
  float: right;
  margin-top: 5px;
}

.news_item span {
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
}

.news_item a:hover {
  background-color: #D5B45B;
  border-bottom: 1px solid #273037;
  border-right: 1px solid #273037;
}

.news_item p {
  text-align: justify;
}

.news_item p:nth-child(2) {
  font-size: 18px;
  text-align: start;
  margin: 10px 0;
}

.news_item h4 {
  font-size: 22px;
}

.btn_more {
  display: block;
  max-width: 200px;
  padding: 10px;
  color: black;
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  transition: 0.3s color;
  transition: 0.3s background;

}

.btn_more:hover {
  text-shadow: 2px 2px 10px lightgray;
  color: #D5B45B;
  background-color: black;
  cursor: pointer;
}

.btn_more:active {
  background-color: transparent;
}

.date-view-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.photos {
  text-align: center;
}

.photos img {
  margin: 5px;
  max-width: 100%;
}

.album a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #273037;
}

.album a:hover {
  color: #D5B45B;
}

.album .inner img {
  max-height: 120px;
}

.wrapper {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}



.person {
  margin: 10px 0;
  padding: 5px;
}

.person::after {
  content: "";
  display: table;
  clear: both;
}

.person p {
  text-align: left;
  line-height: 25px;
}

.person p:first-child {
  font-weight: 500;
}

.person h4 {
  padding-left: 5px;
  font: 22px Arial;
  font-weight: 600;
}

.person img {
  width: 35%;
  float: left;
  margin-right: 20px;
}

.content>p>a.class {
  display: block;
  text-align: left;
  margin-left: 50px;
  width: 90px;
  font-size: 26px;
}

.content p {
  text-align: justify;
}


/*schedule*/



table {
	border-collapse: collapse;
	margin: 3px;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 20px;
}
th {
    background-color: #045AA5;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
}
td {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-size: 11px;
}
td.content{
	background-color: #FFF889
}
tr.content {
	padding: 20px 0;
}
td, th {
	border: 1px solid #ccc;
  word-wrap: break-word;
}
.schedule td,
.schedule th {
  font-size: 22px;
}
.subject {
	font-weight: 500;
	font-size: 1.5em;
	margin: 4px 0;
}
.room{
	font-weight: bold;
	white-space: nowrap;
}
.teacher {
	font-style: italic;
	margin: 4px 0 0 0;
}